@media only screen and (max-width: 576px) {

	.top_left p{
		font-size: 14px !important;
		margin-bottom: 0px !important;
		text-align: center;
	}
	/* Hero section  */
	
		.hero_section {
			margin: 0px !important;
			padding: 0px !important;
		}
	
		.hero {
			width: 80% !important;
			padding: 0px 10px !important;
			margin: 0 auto !important;
		}
		.hero h1{
			font-size: 20px;
		}
		.hero h6{
			font-size: 12px !important;
			width: 150px !important;
			margin: 10px 0px !important;
		}
	
		.abv_button {
			border: 3px solid #2A94D0;
			padding: 20px;
			margin: 20px 0;
		}
}